.Top {
     height: 75px;
     margin: -8px -10px 5px;
     background-color: rgb(66,196,247);
     border-radius: 2px;
     }
     
.Top H1{
     color: black;
     padding-top: 5px;
     font-family: Impact, Charcoal, sans-serif;
     margin-left: 2%;
     display: inline-block;
     }
     
.Top Img{
     position: relative;
     float: right;
     right: 10px;
     height: 75px;
     margin-right: 2%;
     }
     
.d1 {
     float: left;
     width: 32.5%;
     padding: 5px;
     }
     
.d2 {
     float: left;
     width: 32.6%;
     padding: 5px;
     }
     
.d3 {
     float: left;
     width: 32.5%;
     padding: 5px;
     }
     
.row::after {
    content: "";
    clear: both;
    display: table;
}

.Tab1 {
    font-family: Charcoal, sans-serif;
}


     
     